USE [master]
GO
/****** Object:  Database [Sweeper]    Script Date: 9/21/2023 12:49:04 PM ******/
CREATE DATABASE [Sweeper]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sweeper', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Sweeper.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sweeper_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Sweeper_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sweeper].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sweeper]
GO
/****** Object:  Table [dbo].[sweep_history]    Script Date: 9/21/2023 12:49:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sweep_history](
	[Rulename] [text] NULL,
	[Dowload_date] [datetime] NULL,
	[file_date] [datetime] NULL,
	[download_path] [text] NULL,
	[md5_check] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sweeper_rules]    Script Date: 9/21/2023 12:49:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sweeper_rules](
	[ruleName] [varchar](max) NULL,
	[groupName] [varchar](max) NULL,
	[srcURL] [text] NULL,
	[dstURL] [text] NULL,
	[fileBlob] [text] NULL,
	[evalDir] [text] NULL,
	[evalFile] [text] NULL,
	[explanation] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
